.Weather div.card {
  background: transparent;
  margin: 150px auto 100px;
}

.Weather input.form-input-style {
  border-radius: 50px;
  margin-bottom: 60px;
  font-size: 20px;
  opacity: 0.4;
}

.Weather a.btn-secondary {
  background: #757575;
  border: 1px solid #757575;
  color: #ffffff;
  transition: all 200ms ease-in-out;
}

.Weather a.btn-secondary:hover {
  background: #ffffff;
  border: 1px solid #757575;
  color: #757575;
  cursor: pointer;
}

.Weather .current-location-button {
  position: relative;
  right: 25px;
}

.Weather ul {
  display: inline-table;
  list-style: none;
}

.Weather h1 {
  font-weight: 600;
  margin-bottom: 0;
}

.Weather small {
  font-size: 16px;
  font-style: italic;
}

.CurrentWeather img {
  width: 130px;
}

.CurrentWeather span {
  font-size: 140px;
  color: #e9af03e0;
}

.CurrentWeather span.unit-type {
  font-size: 40px;
  position: relative;
  left: 10px;
  bottom: 70px;
}

.CurrentWeather a {
  text-decoration: none;
  color: #757575;
  transition: all 200ms ease-in-out;
  position: relative;
}

.CurrentWeather a:hover {
  color: #ffffff;
  cursor: pointer;
}

.CurrentWeather span.active {
  color: #212121;
  font-size: 40px;
  font-weight: bolder;
}

.OtherDescription {
  font-size: 40px;
}

.OtherDescription span.other-description-label {
  font-weight: 800;
  color: #ffffff;
}
